:root {
    --green-color: #32733C;
}

/* Define o estilo global para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto como Arial, com fallback para sans-serif */
    margin: 0; /* Remove a margem padrão do corpo */
    padding: 0; /* Remove o padding padrão do corpo */
    line-height: 1.6; /* Define a altura da linha para 1.6 vezes o tamanho da fonte */
    background-color: #dce0d2; /* Define a cor de fundo principal do site */
}

/* Define o estilo para o cabeçalho da página */
header {
    background: #fdfdfd url('img.jpg') center/cover no-repeat; /* Define a cor de fundo e imagem de fundo do cabeçalho, centraliza a imagem e ajusta para cobrir o cabeçalho */
    padding: 2px 0; /* Adiciona padding superior e inferior de 2px */
    text-align: center; /* Centraliza o texto dentro do cabeçalho */
    position: relative; /* Define o posicionamento relativo para permitir a sobreposição dos elementos filhos */
    color: #fff; /* Define a cor do texto como branco */
}

/* Define o estilo para a sobreposição escura no cabeçalho */
header::before {
    content: ""; /* Cria um pseudo-elemento vazio */
    position: absolute; /* Posiciona o pseudo-elemento de forma absoluta dentro do cabeçalho */
    inset: 0; /* Define top, right, bottom, e left como 0, cobrindo toda a área do cabeçalho */
    background-color: rgba(0, 0, 0, 0.6); /* Adiciona um fundo escuro semi-transparente */
    z-index: 1; /* Define a camada do pseudo-elemento para estar atrás do conteúdo do cabeçalho */
}

/* Define o estilo para a navegação dentro do cabeçalho */
header nav {
    position: relative; /* Define o posicionamento relativo para o nav */
    z-index: 2; /* Garante que o conteúdo da navegação esteja acima da sobreposição escura */
}

/* Define o estilo para a lista de itens de navegação */
header nav ul {
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o padding da lista */
    background: transparent; /* Define o fundo da lista como transparente */
    z-index: 2; /* Garante que a lista de navegação esteja acima da sobreposição escura */
}

/* Define o estilo para os itens da lista de navegação */
header nav ul li {
    display: inline; /* Exibe os itens em linha horizontal */
    margin: 0 15px; /* Adiciona margem horizontal de 15px */
}

/* Define o estilo para os links dentro dos itens da lista de navegação */
header nav ul li a {
    color: #fff; /* Define a cor do texto dos links como branco */
    text-decoration: none; /* Remove o sublinhado dos links */
}

/* Define o estilo para a logo */
.logo {
    max-height: 1000px; /* Define a altura máxima da logo */
    max-width: 200px; /* Define a largura máxima da logo */
    transform: scale(2.3); /* Aumenta a logo em 10% */
}




/* Define o estilo para a lista de botões */
.button-list {
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o padding da lista */
    margin: 0; /* Remove a margem da lista */
    display: flex; /* Exibe os itens em linha horizontal */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    gap: 10px; /* Adiciona espaçamento de 10px entre os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
}

/* Define o estilo para os botões dentro da lista de botões */
.button-list .button {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #fff; /* Define a cor do texto dos botões como branco */
    font-weight: bold; /* Define o texto dos botões em negrito */
    display: inline-block; /* Exibe os botões como blocos inline */
    padding: 10px 50px; /* Adiciona padding interno de 10px na vertical e 20px na horizontal */
    background-color: var(--green-color); /* Define a cor de fundo dos botões */
    border: none; /* Remove a borda padrão dos botões */
    border-radius: 15px; /* Adiciona bordas arredondadas aos botões */
    transition: background-color 0.1s ease, transform 0.5s ease; /* Define transições suaves para mudanças de cor e escala */
}

/* Define o estilo para os botões ao passar o mouse */
.button-list .button:hover {
    background-color: #dce0d2; /* Define a cor de fundo ao passar o mouse */
    color: var(--green-color); /* Define a cor do texto ao passar o mouse */
    transform: scale(1.1); /* Aumenta a escala do botão em 5% ao passar o mouse */
}

/* Define o estilo para a seção de boas-vindas */
#Bem-vindo {
    display: flex; /* Exibe o conteúdo em um contêiner flexível */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 12vh; /* Define a altura da seção como 12% da altura da viewport */
    text-align: center; /* Centraliza o texto dentro da seção */
    background-color: transparent; /* Define a cor de fundo da seção */
    padding: 1px; /* Adiciona padding interno de 35px */
    padding: 1px;
}

/* Define o estilo para o título dentro da seção de boas-vindas */
#Bem-vindo h1 {
    font-size: 2.5rem; /* Define o tamanho da fonte */
    color: #333; /* Cor do texto */
    margin-bottom: 1px; /* Margem abaixo do título */
    font-family: 'Times New Roman', Times, serif; /* Fonte */
    font-weight: bold; /* Peso da fonte */
    text-transform: uppercase; /* Transformação do texto */
    line-height: 0.5; /* Altura da linha */
    text-align: center; /* Alinhamento do texto */
    letter-spacing: 1px; /* Espaçamento entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra do texto */
    padding: 10px; /* Espaço interno */
    
}


/* Define o estilo para o parágrafo dentro da seção de boas-vindas */
#Bem-vindo p {
    font-size: 1.2rem; /* Define o tamanho da fonte do parágrafo */
    color: #fff; /* Define a cor do texto como branco */
    margin-top: 0; /* Remove a margem superior do parágrafo */
    padding-bottom: 20px; /* Adiciona padding inferior de 20px */
}

/* Define o estilo para as seções gerais */
section {
    padding: 20px; /* Adiciona padding interno de 20px */
    margin: 20px; /* Adiciona margem externa de 20px */
    background: #dce0d2; /* Define a cor de fundo das seções */
    color: #fff; /* Define a cor do texto como branco */
    border-radius: 5px; /* Adiciona bordas arredondadas às seções */
}

/* Define o estilo para o rodapé */
footer {
    background: var(--green-color); /* Define a cor de fundo do rodapé */
    color: #fff; /* Define a cor do texto como branco */
    text-align: center; /* Centraliza o texto dentro do rodapé */
    padding: 10px 0; /* Adiciona padding interno de 10px na vertical */
    position: absolute; /* Define o posicionamento absoluto para o rodapé */
    bottom: 0; /* Posiciona o rodapé na parte inferior da página */
    width: 100%; /* Define a largura do rodapé para ocupar 100% da largura da página */
}

/* Define o estilo para o formulário */
form {
    display: flex; /* Exibe o formulário em um contêiner flexível */
    flex-direction: column; /* Alinha os itens na vertical */
}

/* Define o estilo para os rótulos do formulário */
form label {
    margin: 1px 0; /* Adiciona margem vertical de 1px aos rótulos */
    color: var(--green-color); /* Define a cor do texto dos rótulos */
}

/* Define o estilo para os campos de entrada e áreas de texto do formulário */
form input, form textarea {
    padding: 10px; /* Adiciona padding interno de 5px */
    margin: 5px 0 20px 0; /* Adiciona margem vertical de 5px e margem inferior de 20px */
    border: 1px solid var(--green-color); /* Define a borda dos campos como uma linha sólida da cor especificada */
    border-radius: 5px; /* Adiciona bordas arredondadas aos campos */
    background-color: #fff; /* Define a cor de fundo dos campos como branco */
    color: #000; /* Define a cor do texto dentro dos campos como preto */
}

form textarea {
    padding: 50px;
    text-align: center;
    font-size: 25px;
}

.title {
    color: var(--green-color);
    font-weight: 800;
    font-size: 30px;
    text-shadow:  0 0 1rem #0000004f;

}

#btn {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Define o estilo para o botão do formulário */
form button {
    padding: 10px; /* Adiciona padding interno de 10px */
    width: 100px;
    height: 50px;
    border: none; /* Remove a borda padrão do botão */
    background: var(--green-color); /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão como branco */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre o botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
}

/* Define o estilo para o botão do formulário ao passar o mouse */
form button:hover {
    background: #fff; /* Altera a cor de fundo do botão ao passar o mouse */
    color:var(--green-color);
}

/* Define o estilo para seções com IDs específicos */
#VESTIBULARES, #AVA, #SOFTWARES {
    padding: 30px; /* Adiciona padding interno de 20px */
    background: #ab8e46; /* Define a cor de fundo das seções */
    color: #fff; /* Define a cor do texto como branco */
    border-radius: 5px; /* Adiciona bordas arredondadas às seções */
    margin: 30px; /* Adiciona margem externa de 30px */
    text-align: center; /* Centraliza o texto dentro das seções */
    padding-top: 5px;
    box-shadow:  0 0 1rem #000;
    
}

#INSTITUCIONAIS {
    padding: 30px; /* Adiciona padding interno de 20px */
    background: #ab8e46; /* Define a cor de fundo das seções */
    color: #fff; /* Define a cor do texto como branco */
    border-radius: 5px; /* Adiciona bordas arredondadas às seções */
    margin: 30px; /* Adiciona margem externa de 30px */
    text-align: center; /* Centraliza o texto dentro das seções */
    padding-top: 5px;
    box-shadow:  0 0 1rem #000;
    
}

#TICKET {
    padding: 30px; /* Adiciona padding interno de 20px */
    background: #ab8e46; /* Define a cor de fundo das seções */
    color: #fff; /* Define a cor do texto como branco */
    border-radius: 5px; /* Adiciona bordas arredondadas às seções */
    margin: 290px; /* Adiciona margem externa de 30px */
    text-align: center; /* Centraliza o texto dentro das seções */
    padding-top: 5px;
    box-shadow:  0 0 1rem #000;
    margin-top: -3px;
    margin-bottom: 100px;

}


/* Define o estilo específico para a seção com o ID VESTIBULARES */
#VESTIBULARES {
    padding-bottom: 20px; /* Define um padding interno de 1px */
}

/* Define o estilo para listas de links */
.quick-links, .quick-links2 {
    list-style: none; /* Remove os marcadores padrão das listas */
    padding: 0px; /* Remove o padding das listas */
    margin: 0; /* Remove a margem das listas */
    display: flex; /* Exibe os itens da lista em linha horizontal */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    justify-content: space-between; /* Distribui os itens igualmente ao longo da linha com espaço entre eles */
    
}

/* Define o estilo para os itens das listas de links */
.quick-links li, .quick-links2 li {
    margin: 1px 10px; /* Adiciona margem vertical de 1px e horizontal de 10px aos itens */
    flex: 1 1 calc(50% - 20px); /* Define o tamanho flexível dos itens, com base na largura disponível */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura e altura dos itens */
   
    
}

/* Define o estilo específico para itens na lista .quick-links */
.quick-links li {
    flex: 1 1 calc(10% - 80px); /* Ajusta a largura dos itens para uma proporção diferente */
}

/* Define o estilo para os links dentro das listas de links */
.quick-links li a, .quick-links2 li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #fff; /* Define a cor do texto dos links como branco */
    font-weight: bold; /* Define o texto dos links em negrito */
    display: flex; /* Exibe os links em um contêiner flexível */
    flex-direction: column-reverse; /* Alinha os itens do link na direção reversa */
    align-items: center; /* Alinha os itens do link verticalmente ao centro */
    background-color: var(--green-color); /* Define a cor de fundo dos links */
    padding: 30px; /* Adiciona padding interno de 20px */
    border-radius: 3px; /* Adiciona bordas arredondadas aos links */
    transition: background-color 0.3s ease; /* Define uma transição suave para a mudança de cor de fundo */
}


/* Define o estilo para os links ao passar o mouse */
.quick-links li a:hover, .quick-links2 li a:hover {
    background-color: #dce0d2; /* Altera a cor de fundo dos links ao passar o mouse */
    color: var(--green-color); /* Altera a cor do texto dos links ao passar o mouse */
   
}


/* Define o estilo para as imagens dentro dos links */
.link-image {
    max-width: 900px; /* Define a largura máxima das imagens */
    margin-top: -5px; /* Adiciona margem inferior de 10px às imagens */
    margin-bottom: -70px;
}

#p-footer {
    text-align: center;
    background-color: var(--green-color);
    color: #fff;
    justify-content: center;
    padding: 1px;
}
