:root {
    --green-color: #32733C;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #dce0d27a;
}

header {
    background: #fdfdfd url('img.jpg') center/cover no-repeat;
    text-align: center;
    position: relative;
    color: #ffffff86;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

header nav {
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    z-index: 2;
}

header nav ul {
    list-style: none;
    padding: 0;
    background: transparent;
    z-index: 2;
}

header nav ul li {
    display: inline;
    margin: 1px 10px;
}

header nav ul li a {
    color: #ffffff53;
    text-decoration: none;
}

.logo {
    max-height: 1000px;
    max-width: 200px;
    transform: scale(2.2);
    padding-top: 10px;
    padding-bottom: 0px;
}

.button-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 5px;
}

.button-list .button {
    text-decoration: none;
    color: #ffffffdf;
    font-family: serif;
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--green-color);
    border: 1.5px solid #ab8e46;
    border-radius: 15px;
    transition: background-color 0.1s ease, transform 0.5s ease;
}

.button-list .button:hover {
    background-color: #dce0d2;
    color: var(--green-color);
    transform: scale(1.1);
}

#Bem-vindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1vh;
    text-align: center;
    background-color: transparent;
    padding: 100px;
    padding-bottom: 0px;
    padding-top: 10px;
}

#Bem-vindo h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.5;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

#Bem-vindo p {
    font-size: 1.2rem;
    color: #ffffffa4;
    margin-top: 0;
    padding-bottom: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background: #dce0d2;
    color: #fff;
    border-radius: 5px;
}

footer {
    background: var(--green-color);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 1px 0;
    color: var(--green-color);
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1.5px solid var(--green-color);
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

form textarea {
    padding: 50px;
    text-align: center;
    font-size: 25px;
}

.title {
    color: var(--green-color);
    font-weight: 800;
    font-size: 30px;
    text-shadow: 0 0 1rem #0000004f, 0.4px 0.4px 0 #fff, -0.4px -0.4px 0 #fff, 0.4px -0.4px 0 #fff, -0.4px 0.4px 0 #fff;
}

.title2 {
    color: #ab8e46;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 0 0 60rem #0000004f, 0.4px 0.4px 0 #32733C, -0.4px -0.4px 0 #32733C, 0.4px -0.4px 0 #32733C, -0.4px 0.4px 0 #32733C;
    margin: 2px;
}

#btn {
    display: flex;
    justify-content: center;
    text-align: center;
}

form button {
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    background: var(--green-color);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #fff;
    color: var(--green-color);
}

#GEOGUIA {
    background: #32733C;
    color: #ffffff;
    border-radius: 90px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0 0 1rem #000;
    font-family: serif;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 18px;
    padding-top: 1px;
}

#VESTIBULARES, #AVA, #INSTITUCIONAIS, #SOFTWARES {
    padding: 30px;
    background: #ab8e46;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding-top: 1px;
    box-shadow: 0 0 1rem #000;
    font-family: serif;
    margin-left: 90px;
    margin-right: 90px;
}

#TICKET {
    padding: 30px;
    background: #32733C;
    color: #fff;
    border-radius: 5px;
    margin: 290px;
    text-align: center;
    padding-top: 1px;
    box-shadow: 0 0 1rem #000;
    margin-top: -3px;
    margin-bottom: 10px;
    margin-left: 90px;
    margin-right: 90px;
    font-family: serif;
}

#INSTITUCIONAIS {
    padding: 30px;
    background: #ab8e46;
    color: #fff;
    border-radius: 5px;
    margin: 30px;
    text-align: center;
    padding-top: 1px;
    box-shadow: 0 0 1rem #000;
    margin-left: 90px;
    margin-right: 90px;
}

#POLOS {
    padding: 30px;
    background: #ab8e46;
    color: #fff;
    border-radius: 5px;
    margin: 30px;
    text-align: center;
    box-shadow: 0 0 1rem #000;
    margin-left: 90px;
    margin-right: 90px;
}
#VESTIBULARES {
    padding-bottom: 10px;
}

button {
    background-color: #ab8e46;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #32733C;
}

.botao-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ab8e46;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
}

.botao-link:hover {
    background-color: #ffffff;
    color: #32733C;
}

.botao-link2 {
    display: inline-block;
    padding: 16px 120px;
    background-color: #32733C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

.botao-link2:hover {
    background-color: #ffffff;
    color: #32733C;
}

.quick-links, .quick-links2 {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quick-links li, .quick-links2 li {
    margin: 1px 10px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    border: 2px solid #000;
    border: 5px;
}

.quick-links li {
    flex: 1 1 calc(10% - 80px);
}

.quick-links li a, .quick-links2 li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: var(--green-color);
    padding: 30px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: 1px solid #ffffffb4;
}

.quick-links li a:hover, .quick-links2 li a:hover {
    background-color: #dce0d2;
    color: var(--green-color);
}

.link-image {
    max-width: 90px;
    margin-top: -5px;
    margin-bottom: -70px;
}

#p-footer {
    text-align: center;
    background-color: var(--green-color);
    color: #fff;
    justify-content: center;
    padding: 1px;
}

#cidade:focus {
    border-color: blue;
}

#cidade {
    width: 50%;
    height: 40px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 50px;
    text-align: center;
}
